---
import '../styles/global.css';

export interface Props {
  title: string;
  path: string;
}

const { title, path } = Astro.props;
const description =
  'Personal website of Anthony Chen, an MIT student majoring in CS + Math. Interested in software engineering.';
const site = 'https://achen318.github.io/' + path;
const image = '';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title}</title>

    <link rel="icon" href="/favicon.svg" />
    <link rel="canonical" href={site} />

    <meta name="author" content="Anthony Chen" />
    <meta name="description" content={description} />

    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="index, follow" />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={site} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={image} />
    <meta property="twitter:card" content="summary" />
  </head>
  <body>
    <slot />
  </body>
</html>
